.sales {
  @include centering;
  width: 100%;
  height: 100%;
  background-color: white;
  overflow-x: hidden;

  &_container {
    display: grid;
    width: 73%;
    height: 1000px;
    direction: ltr;
    margin-right: 200px;
    margin-top: 100px;
    grid-template-columns: 21% 21% 21% 21% 21% 21%;
    grid-template-rows: 47% 47%;
    grid-template-areas:
      "c1 c2 c3 c4 c5 logo"
      "c6 c7 c8 c9 c10 logo";
    grid-gap: 0;

    @media (max-width: 1300px) {
      width: 77%;
      grid-template-areas:
        "c1 c2 c3 logo"
        "c4 c5 c6 logo"
        "c7 c8 c9 logo";
      grid-template-columns: 33% 33% 33% 20%;
      grid-template-rows: 35% 35% 35%;
    }

    @media (max-width: 950px) {
      width: 90%;
      grid-template-areas:
        "c1 c2 logo"
        "c3 c4 logo"
        "c5 c6 logo"
        "c7 c8 logo";
      grid-template-columns: 35% 35% 20%;
      grid-template-rows: 35% 35% 35% 35%;
    }

    @media (max-width: 750px) {
      width: 90%;
      grid-template-areas:
        "c1 logo"
        "c2 logo"
        "c3 logo"
        "c4 logo"
        "c5 logo"
        "c6 logo"
        "c7 logo";
      grid-template-columns: 70% 30%;
      grid-template-rows: 17% 17% 17% 17% 17% 17% 17%;
    }

    &_logos {
      @include centering;
      grid-area: logo;

      div {
        @include centering($dir: column);
        margin-left: 40px;

        @media (max-width: 600px) {
          margin-left: 20px;
        }

        a {
          cursor: default;

          img {
            width: 100px;
            height: 100px;
            margin-bottom: 50px;
            cursor: pointer;

            @media (max-width: 600px) {
              width: 60px;
              height: 60px;
              margin-bottom: 110px;
            }
          }
        }
      }

      @media (max-width: 950px) {
        margin-left: 240px;
        height: 100%;
      }
      @media (max-width: 750px) {
        transform: translateX(-70px);
      }
      @media (max-width: 550px) {
        transform: translateX(-80px);
      }
      @media (max-width: 350px) {
        transform: translateX(-90px);
      }
    }

    &_card {
      @include centering($dir: column);
      border: rgb(199, 197, 197) solid 1px;

      @media (max-width: 950px) {
        transform: translateX(100px);
      }
      @media (max-width: 750px) {
        @include centering($dir: row);
      }

      &_top {
        @include centering($dir: column, $align: space-between);
        width: 100%;
        height: 80%;

        @media (max-width: 750px) {
          @include centering($dir: row, $justify: space-between);
        }

        div:nth-child(1) {
          @include centering($dir: column, $align: flex-start);
          margin-top: -35px;
          margin-right: 20px;

          p {
            font-family: iranSanse;
            font-weight: bold;

            @media (max-width: 750px) {
              font-size: 11px;
            }

            &:nth-child(2) {
              font-size: 12px !important;
              color: gray;
              opacity: 0.7;
              text-decoration: line-through;
              margin-bottom: 30px;

              @media (max-width: 750px) {
                font-size: 10px !important;
              }
            }
          }
        }

        div {
          @include centering;

          img {
            object-fit: contain;
            width: 200px;
            margin-right: 30px;

            @media (max-width: 1300px) {
              width: 150px;
            }
            @media (max-width: 750px) {
              width: 110px;
              margin-right: 10%;
            }
          }
        }
      }

      &_bot {
        @include centering($justify: space-between);
        width: 100%;
        height: 20%;
        border-top: rgb(199, 197, 197) solid 0.5px;

        @media (max-width: 1300px) {
          @include centering($dir: column);
        }
        @media (max-width: 750px) {
          border-top: none;
          border-right: rgb(199, 197, 197) solid 0.5px;
          width: 20%;
          height: 100%;
        }

        p {
          font-family: iranSanse;
          font-weight: bold;
          margin-right: 20px;

          @media (max-width: 1300px) {
            text-align: center;
          }
          @media (max-width: 750px) {
            font-size: 11px;
            margin-left: 10px;
          }
        }

        img {
          width: 27px;
          margin-left: 20px;
          cursor: pointer;

          @media (max-width: 1300px) {
            margin-left: 0;
            margin-top: 10px;
          }
          @media (max-width: 750px) {
            margin-top: 40px;
            width: 22px;
          }
        }
      }
    }

    .c1 {
      grid-area: c1;
    }
    .c2 {
      grid-area: c2;
    }
    .c3 {
      grid-area: c3;
    }
    .c4 {
      grid-area: c4;
    }
    .c5 {
      grid-area: c5;
    }
    .c6 {
      grid-area: c6;
    }
    .c7 {
      grid-area: c7;
    }
    .c8 {
      grid-area: c8;

      @media (max-width: 750px) {
        display: none;
      }
    }
    .c9 {
      grid-area: c9;

      @media (max-width: 950px) {
        display: none;
      }
    }
    .c10 {
      grid-area: c10;

      @media (max-width: 1300px) {
        display: none;
      }
    }
  }
}
